# Analyse exploratoire des données

In [1]:
import pandas as pd

In [3]:
df_21= pd.read_csv('data\data21.csv')
df_20= pd.read_csv('data\data20.csv')
df_19= pd.read_csv('data\data19.csv')

## Premiers constats

In [71]:
d19 = df_19.groupby('name')['name'].transform('size').value_counts()
for i in range(1,len(d19)+1):
    print("Il y a "+str(int(d19[i]/i))+" joueurs qui apparaissent "+str(i)+" fois dans la base de 2019")

Il y a 444 joueurs qui apparaissent 1 fois dans la base de 2019
Il y a 80 joueurs qui apparaissent 2 fois dans la base de 2019
Il y a 6 joueurs qui apparaissent 3 fois dans la base de 2019

In [73]:
d20 = df_20.groupby('name')['name'].transform('size').value_counts()
for i in range(1,len(d20)+1):
    print("Il y a "+str(int(d20[i]/i))+" joueurs qui apparaissent "+str(i)+" fois dans la base de 2020")

Il y a 470 joueurs qui apparaissent 1 fois dans la base de 2020
Il y a 58 joueurs qui apparaissent 2 fois dans la base de 2020
Il y a 2 joueurs qui apparaissent 3 fois dans la base de 2020

In [80]:
d21 = df_21.groupby('name')['name'].transform('size').value_counts()
for i in range(1,len(d21)+1):
    print("Il y a "+str(int(d21[i]/i))+" joueurs qui apparaissent "+str(i)+" fois dans la base de 2021")

Il y a 461 joueurs qui apparaissent 1 fois dans la base de 2021
Il y a 72 joueurs qui apparaissent 2 fois dans la base de 2021
Il y a 7 joueurs qui apparaissent 3 fois dans la base de 2021

Ceci s'explique par la possibilité de transfert de joueurs au cours de la saison : ils apparaissent ainsi dans les équipes dans lequelles ils ont joué

In [86]:
df_19[df_19.groupby('name')['name'].transform('size') > 1].sort_values(by=['name']).head()

,and_ones,assist_percentage,assists,assists_per_poss,block_percentage,blocking_fouls,blocks,blocks_per_poss,box_plus_minus,center_percentage,...,two_pointers,two_pointers_per_poss,two_pointers_assisted_percentage,usage_percentage,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,name,team
558,NaN,13.7,128.0,4.6,1.3,NaN,21.0,0.7,-1.2,0,...,131.0,4.7,NaN,19.0,0.3,214,1.5,0.052,Alec Burks,CLE
90,NaN,13.7,128.0,4.6,1.3,NaN,21.0,0.7,-1.2,0,...,131.0,4.7,NaN,19.0,0.3,214,1.5,0.052,Alec Burks,SAC
424,NaN,13.7,128.0,4.6,1.3,NaN,21.0,0.7,-1.2,0,...,131.0,4.7,NaN,19.0,0.3,214,1.5,0.052,Alec Burks,UTA
212,NaN,17.1,24.0,6.3,0.9,NaN,2.0,0.5,-7.1,0,...,11.0,2.9,NaN,16.8,-0.2,213,-0.1,-0.027,Andrew Harrison,NOP
288,NaN,17.1,24.0,6.3,0.9,NaN,2.0,0.5,-7.1,0,...,11.0,2.9,NaN,16.8,-0.2,213,-0.1,-0.027,Andrew Harrison,MEM

**Problème** : pour ces joueurs, leurs statistiques sont les mêmes quelque soit l'équipe pour laquelle ils jouent, et non pas leurs statistiques liées uniquement à leurs matchs joués pour chaque équipe
Selon ce que l'on va faire par la suite, nous déciderons de garder ou non l'une de ces les lignes similaires (qui ne diffèrent que par la colonne 'team')

## Stats des sur les variables qui nous intéressent

### Variable 'salary'

In [79]:
print("Il y a "+str(df_19['salary'].isnull().sum())+" salaires inconnus dans la base de 2019")
print("Il y a "+str(df_20['salary'].isnull().sum())+" salaires inconnus dans la base de 2020")
print("Il y a "+str(df_21['salary'].isnull().sum())+" salaires inconnus dans la base de 2021")

Il y a 49 salaires inconnus dans la base de 2019
Il y a 51 salaires inconnus dans la base de 2020
Il y a 60 salaires inconnus dans la base de 2021

In [85]:
print(df_19[df_19['salary'].isnull()]['games_played'].mean())
print(df_20[df_20['salary'].isnull()]['games_played'].mean())
print(df_21[df_21['salary'].isnull()]['games_played'].mean())

10.224489795918368
10.647058823529411
20.416666666666668

In [16]:
df_19nd = df_19.groupby('name', group_keys=False).apply(lambda df: df.sample(1))
df_20nd = df_20.groupby('name', group_keys=False).apply(lambda df: df.sample(1))
df_21nd = df_21.groupby('name', group_keys=False).apply(lambda df: df.sample(1))

In [31]:
df_20nd['salary'].sort_values(ascending=False)

575    40231758.0
446    38506482.0
197    38506482.0
188    38199000.0
45     37436858.0
          ...
230           NaN
292           NaN
465           NaN
277           NaN
200           NaN
Name: salary, Length: 530, dtype: float64

In [32]:
df_21nd['salary'].sort_values(ascending=False)

611    43006362.0
264    41358814.0
241    41358814.0
204    41254920.0
184    41254920.0
          ...
302           NaN
423           NaN
228           NaN
141           NaN
220           NaN
Name: salary, Length: 540, dtype: float64

In [87]:
df_21[df_21['games_played']>30]

,and_ones,assist_percentage,assists,assists_per_poss,block_percentage,blocking_fouls,blocks,blocks_per_poss,box_plus_minus,center_percentage,...,two_pointers,two_pointers_per_poss,two_pointers_assisted_percentage,usage_percentage,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,name,team
1,NaN,28.7,357.0,8.3,3.2,NaN,73.0,1.7,9.0,0,...,559.0,13.0,NaN,32.5,5.6,242,10.2,0.244,Giannis Antetokounmpo,MIL
2,NaN,10.3,46.0,3.9,1.6,NaN,10.0,0.9,-3.5,0,...,60.0,5.1,NaN,15.3,-0.2,219,0.7,0.057,Thanasis Antetokounmpo,MIL
3,NaN,22.2,188.0,7.8,0.1,NaN,1.0,0.0,-2.1,0,...,52.0,2.2,NaN,16.8,0.0,183,2.1,0.088,D.J. Augustin,MIL
5,NaN,6.3,81.0,2.4,1.3,NaN,23.0,0.7,0.0,0,...,67.0,2.0,NaN,11.6,0.8,209,3.5,0.108,Pat Connaughton,MIL
6,NaN,7.9,49.0,3.0,2.9,NaN,26.0,1.6,0.4,0,...,70.0,4.2,NaN,14.3,0.5,221,2.2,0.133,Torrey Craig,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,NaN,15.4,99.0,4.7,0.8,NaN,9.0,0.4,-0.5,0,...,108.0,5.1,NaN,25.0,0.4,194,1.9,0.094,Jordan Poole,GSW
622,NaN,18.1,150.0,6.4,2.1,NaN,26.0,1.1,0.8,0,...,84.0,3.6,NaN,11.0,0.8,209,3.0,0.130,Juan Toscano-Anderson,GSW
623,NaN,22.5,174.0,7.9,1.0,NaN,11.0,0.5,-4.0,0,...,99.0,4.5,NaN,16.9,-0.5,210,0.9,0.039,Brad Wanamaker,GSW
624,NaN,10.9,167.0,3.3,2.6,NaN,70.0,1.4,-0.4,0,...,365.0,7.3,NaN,23.3,1.0,197,3.9,0.080,Andrew Wiggins,GSW
625,NaN,4.9,26.0,1.5,3.8,NaN,36.0,2.0,-5.0,0,...,179.0,10.1,NaN,23.8,-0.6,240,0.7,0.042,James Wiseman,GSW

In [37]:
df_19nd.groupby('team')['salary'].hist()

team
ATL      47371.0
BOS     838464.0
BRK       4737.0
CHI      88531.0
CHO     988464.0
CLE      76236.0
DAL     838464.0
DEN     311070.0
DET     838464.0
GSW     486892.0
HOU     137376.0
IND     449794.0
LAC    1349383.0
LAL      52108.0
MEM      47371.0
MIA       9474.0
MIL     456733.0
MIN     203695.0
NOP     194220.0
NYK      42634.0
OKC     151587.0
ORL     838464.0
PHI      92857.0
PHO     198580.0
POR     838464.0
SAC      94742.0
SAS      59820.0
TOR     457418.0
UTA    1378242.0
WAS      17092.0
Name: salary, dtype: float64

In [ ]:
df_21.plot.scatter(x='points', y='salary', title='salary depending on points')
df_21.plot.scatter(x='assists_per_poss', y='salary', title='salary depending on assists')
df_21.plot.scatter(x='win_shares', y='salary', title='salary depending on win_shares')
df_21.plot.scatter(x='player_efficiency_rating', y='salary', title='salary depending on player_efficiency_rating')

In [ ]:
df_21[df_21['games_played']>=30].plot.scatter(x='points', y='salary', title='salary depending on points')
df_21[df_21['games_played']>=30].plot.scatter(x='assists_per_poss', y='salary', title='salary depending on assists')
df_21[df_21['games_played']>=30].plot.scatter(x='win_shares', y='salary', title='salary depending on win_shares')
df_21[df_21['games_played']>=30].plot.scatter(x='player_efficiency_rating', y='salary', title='salary depending on player_efficiency_rating')