In [1]:
import pandas as pd

In [3]:
df_21= pd.read_csv('data\data21.csv')
df_20= pd.read_csv('data\data20.csv')
df_19= pd.read_csv('data\data19.csv')

In [11]:
df_19[(df_19['team']=='CLE') & (df_19['games_played']>30)][['games_played','name']]
# pb pour les joueurs transférés en cours de saison, games_played vaut le total joué dans les différentes équipes au cours de la saison

     games_played                 name
558          64.0           Alec Burks
559          43.0      Marquese Chriss
560          81.0      Jordan Clarkson
561          47.0           Sam Dekker
562          48.0  Matthew Dellavedova
563          36.0        Channing Frye
565          60.0          George Hill
567          72.0          Rodney Hood
569          39.0       Brandon Knight
570          70.0          Kyle Korver
573          67.0      Larry Nance Jr.
574          51.0          David Nwaba
575          76.0           Cedi Osman
576          40.0        Cameron Payne
577          82.0        Collin Sexton
580          68.0         Nik Stauskas
581          43.0     Tristan Thompson
582          59.0           Ante Žižić

In [12]:
df_19[df_19['name']=='Kyle Korver']
# joueur transféré apparaît dans les 2 équipes

,and_ones,assist_percentage,assists,assists_per_poss,block_percentage,blocking_fouls,blocks,blocks_per_poss,box_plus_minus,center_percentage,...,two_pointers,two_pointers_per_poss,two_pointers_assisted_percentage,usage_percentage,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,name,team
431,NaN,8.9,81.0,2.9,0.7,NaN,12.0,0.4,-0.5,0,...,63.0,2.3,NaN,18.5,0.5,212,2.3,0.082,Kyle Korver,UTA
570,NaN,8.9,81.0,2.9,0.7,NaN,12.0,0.4,-0.5,0,...,63.0,2.3,NaN,18.5,0.5,212,2.3,0.082,Kyle Korver,CLE

## Stats des sur les variables qui nous intéressent

In [16]:
df_19nd = df_19.groupby('name', group_keys=False).apply(lambda df: df.head(1))
# nd pour "non duplicates"

In [21]:
df_20nd = df_20.groupby('name', group_keys=False).apply(lambda df: df.head(1))
df_21nd = df_21.groupby('name', group_keys=False).apply(lambda df: df.head(1))

In [17]:
print(len(df_19nd),len(df_19))

530 622

In [30]:
df_19nd['salary'].sort_values(ascending=False)

609    37457154.0
51     35654150.0
474    35654150.0
202    35654150.0
520    32088932.0
          ...
604           NaN
190           NaN
301           NaN
525           NaN
66            NaN
Name: salary, Length: 530, dtype: float64

In [31]:
df_20nd['salary'].sort_values(ascending=False)

575    40231758.0
446    38506482.0
197    38506482.0
188    38199000.0
45     37436858.0
          ...
230           NaN
292           NaN
465           NaN
277           NaN
200           NaN
Name: salary, Length: 530, dtype: float64

In [32]:
df_21nd['salary'].sort_values(ascending=False)

611    43006362.0
264    41358814.0
241    41358814.0
204    41254920.0
184    41254920.0
          ...
302           NaN
423           NaN
228           NaN
141           NaN
220           NaN
Name: salary, Length: 540, dtype: float64

In [37]:
df_19nd.groupby('team')['salary'].hist()

team
ATL      47371.0
BOS     838464.0
BRK       4737.0
CHI      88531.0
CHO     988464.0
CLE      76236.0
DAL     838464.0
DEN     311070.0
DET     838464.0
GSW     486892.0
HOU     137376.0
IND     449794.0
LAC    1349383.0
LAL      52108.0
MEM      47371.0
MIA       9474.0
MIL     456733.0
MIN     203695.0
NOP     194220.0
NYK      42634.0
OKC     151587.0
ORL     838464.0
PHI      92857.0
PHO     198580.0
POR     838464.0
SAC      94742.0
SAS      59820.0
TOR     457418.0
UTA    1378242.0
WAS      17092.0
Name: salary, dtype: float64